body {
    background-color: rgb(202, 202, 246);
    font-family: cursive;
    
}
h1{
    background-color: rgb(54, 124, 222);
    text-align: center;
    font-size: x-large;
}
a{
    text-decoration: none;
    text-align: center;
    color: rgb(0, 39, 97);
}